# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

#Divers
greg/


# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints

# MLflow
mlruns/
mlartifacts/

# Modèles
models/*.pkl
models/*.joblib
models/*.h5

# Données
data/*.csv
data/*.zip
!data/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
